.m-logo {
  display: inline-block;
  height: 50px;

  img {
    width: auto;
    border-radius: 0.25rem;
    max-width: 300px;
    height: 100%;
    padding: 10px;
    background-color: var(--logo-background);
    object-fit: contain;
  }

  &.in-mobile-topbar {
    height: 40px;
    margin: 0 $mobile-space;
  }
}
