.m-logo {
  display: inline-block;
  height: 50px;

  img {
    width: auto;
    border-radius: 0.25rem;
    max-width: 300px;
    height: 100%;
    padding: 10px;
    background-color: var(--logo-background);

    object-fit: contain;

    &.m-logo__image-light {
      display: var(--toggle-darkmode-button-display-moon);
    }

    &.m-logo__image-dark {
      display: var(--toggle-darkmode-button-display-sun);
    }
  }

  &.in-mobile-topbar {
    height: 40px;
    margin: 0 $mobile-space;
  }
}
